{% extends "layout.html" %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6"><img class="main-image" src="/static/assets/img/friends.jpg"></div>
<div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding: 100px;">
    <h1 class="text-center">Contact US</h1>
    <hr>
    <p>We are working on advancement of this facial recognition technology.<br> For further updates contact us at:  <a href="#">smrb@gmail.com</a> </p>
</div>
{% endblock content %}